config.ini
__pycache__
dic
voice
.DS_Store
config.py
guild_config
test
voicevox_core-linux
voicevox_core-windows
voicevox_core-darwin
user_config
output
bot-start.sh
bot-start.bat
open_jtalk_dic_utf_8-1.11
open_jtalk_dic_shift_jis-1.11
config copy.py
